<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <ul>
                <li>
                    <div>
                        <ci>你是我的小苹果怎么爱你都不嫌多啊！</ci>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--大家好才是真的好啊！-->
    <div>
        <div>
            <ul>
                <li>
                    <div>
                        <ci>你是我的小苹果怎么爱你都不嫌多啊！</ci>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>